@import "./normalize.css";
body{
	padding: 0;
	margin: 0;

	-webkit-tap-highlight-color:transparent;
}

button{
	background-color: transparent;
	border: none;
}

.icon {
	width: 1em; height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}