@import "./normalize.css";
body{
	padding: 0;
	margin: 0;

	-webkit-tap-highlight-color:transparent;
}

button{
	background-color: transparent;
	border: none;
}

.icon {
	width: 1em; height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}


.dayItem {
	width: 14%;
	height: 48px;
	line-height: 48px;
	text-align: center
}

.day-item-active {
	border-radius: 50%;
	background-color: rgb(246, 215, 110);
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}